
*{
  box-sizing: border-box;
}

body {
    font-family: Hanken Grotesk, sans-serif;
    
    background-color: #1E1E1E;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #282726;
  width: 594px;
  height: 726px;

  padding: 73px 57px;
}

h1{
  /* font-weight: medium; */
  margin-bottom: 0px;
  font-size: 1.75rem;
  color: #F9F4DA;
}

h2{
  margin: 0px;
}

.guessWord{
  color: #8E8E8E;
  /* border: 1px red solid; */
  max-width: 352px;
  text-align: center;
  margin: 4px;
}

#programmingblocksElm{
  display: flex;
  flex-wrap: wrap;
  gap: 4.5px;
  max-width: 280px;
  justify-content: center;
  margin-top: 20px;
}

#CSS{
  background-color: #328AF1;
  color: #F9F4DA;

}

#Typescript{
  background-color: #298EC6;
  color: #F9F4DA;
}
#Ruby{
  background-color: #D02B2B;
  color: #F9F4DA;
}
#Assembly{
  background-color: #2D519F;
  color: #F9F4DA;
}

#Python{
  background-color: #FFD742;
  color: #282726;
}

#Javascript{
  background-color: #F4EB13;
  color: #1E1E1E;

}
#React{
  background-color: #2ED3E9;
  color: #1E1E1E;
}

#node{
  background-color: #599137;
  color: #F9F4DA;
}
#HMTL{
  background-color: #E2680F;
  color: #F9F4DA;
}

.programmingLBlock{
    padding: 4.5px;
    border-radius: 3px;
    font-size: 0.75rem;
    font-weight: bold;

}

#letterfillboxes{
padding: 36px;
display: flex;
gap: 2px;

}

.fillanswerletterbox{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-bottom: 1px solid #F9F4DA;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  color: #F9F4DA;
  font-weight: bold;
}



#optionsallLetterboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  max-width: calc(10 * 40px + 9 * 6px); /* manually set  max width and used flex wrap * 10 buttons + 9 gaps */

  margin-top: 40px;
  /* border: 2px red solid; */
}

.letterElm{
    font-family: Hanken Grotesk, sans-serif;
    font-weight: 600;
  width: 40px;
  height: 40px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 4px;
  background-color: #FCBA29;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  color: #1E1E1E;

}

.letterElm:disabled{

  cursor: default;
}



.newgame{
margin-top: 20px;

background-color: #11B5E5;

padding: 6px 12px;
border-radius: 4px;
border: none;

width: 220px;
height: 40px;

color: #1E1E1E;
font-weight:600;


cursor: pointer;





}

.gameWonLostEl{
 
  width: 352px;
  height: 59px;
  
  margin-top: 10px;
  

}

.gameWon{
 color: #F9F4DA;
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 59px;
  background-color: #10A95B;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;


}


.gameWon p{
  padding: 0;
  margin: 0;
}


.gameLost{
  color: #F9F4DA;
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 59px;
  background-color: #BA2A2A;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.gameLost p{
  padding: 0;
  margin: 0;
}

